#cloud-config

runcmd:
  - cd ~ && rm -rf .ssh && mac pull ~/.ssh

  # update
  - sudo apt update

  # general
  - sudo apt install -y \
    git \
    bat \
    wget \
    nodejs \
    npm \
    python3-pip \
    python3-venv \
    python-is-python3 \
    fastfetch \
    asciinema \

  # TODO: add installs for gemini, claude, jules

  # LaTeX
  - sudo apt install -y \
    latexmk \
    texlive-latex-extra \
    texlive-fonts-extra \
    texlive-extra-utils --no-install-recommends

  # config PATH
  - echo 'export PATH="$HOME/.local/bin:$PATH"' >> ~/.bashrc
  - source ~/.bashrc

  # global python installs
  - pip install setuptools --break-system-packages
  - pip install pipreqs pre-commit --break-system-packages

  # clean up
  - sudo apt clean && sudo apt autoclean
